// =========================================
//                Variables
// =========================================

// Colors

$colors: (
  primary: hsl(180, 29%, 50%),
  background: hsl(180, 52%, 96%),
  filter-tablets: hsl(180, 31%, 95%),
  dark-grayish-cyan: hsl(180, 8%, 52%),
  very-dark-grayish-cyan: hsl(180, 14%, 20%),
  white: hsl(0, 0%, 100%),
);

// Breakpoints

$break-mobile: 37.5rem;
$break-tablet: 76.8rem;
$break-laptop: 102.4rem;

// Other variables

$appPadding: 2.5rem;
$containerPadding: 2rem;
$shadow: 2px 5px 20px -10px rgba(0, 0, 0, 0.37);

@mixin shadow-border-container() {
  border-radius: 0.5rem;
  box-shadow: $shadow;
}
