@font-face {
  font-family: "spartanmedium";
  src: url("../../fonts/Spartan-Medium.woff") format("woff2"),
    url("../../fonts/Spartan-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "spartanbold";
  src: url("../../fonts/Spartan-Bold.woff2") format("woff2"),
    url("../../fonts/Spartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
