.app {
  width: 100%;
  background: map-get($map: $colors, $key: background);
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: map-get($map: $colors, $key: primary);
  }

  &__background-image {
    width: 100%;
  }

  &__content {
    padding: $appPadding;
    padding-top: 12.5rem;
    z-index: 1;
    position: relative;
  }
}
